<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('homepage') }}">UCC LEON</a>

            <button class="button navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <div id="navbar-menu" class="navbar-menu">
            <div class="navbar-end">
                <a
                    href="{{ path('homepage') }}"
                    class="navbar-item is-tab {{ app.request.attributes.get('_route') in ['homepage', 'show_course_faqs', 'show_course', 'show_course_instructors', 'show_course_thematics'] ? 'is-active': '' }}">Home</a>

                <a
                    href="{{ path('company_index') }}"
                    class="navbar-item is-tab {{ app.request.attributes.get('_route') == 'company_index' ? 'is-active' : '' }}">Empresas</a>

                <a
                    href="{{ path('contact_index') }}"
                    class="navbar-item is-tab {{ app.request.attributes.get('_route') in ['contact_index', 'contact_form'] ? 'is-active': '' }}">Contacto</a>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a
                        href="{{ path('dashboard_index') }}"
                        class="navbar-item is-tab {{ app.request.attributes.get('_route') in ['dashboard_index'] ? 'is-active' : '' }}">Panel</a>

                    <a href="{{ path('logout') }}" class="navbar-item">Salir</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
