<!DOCTYPE html>
<html style="background: #EEE; padding-top: 75px;">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ include('partials/navbar.html.twig') }}

        <div class="container">
            <div class="columns">
                <div class="column is-2">
                    {{ include('admin/partials/menu.html.twig') }}
                </div>

                <div class="column">
                    {% block body %}{% endblock %}
                </div>

                <div class="column is-2">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="{{ asset('build/app.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
