{% extends 'base.html.twig' %}

{% block title %}Contactanos{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-9">
                    {{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}
                        {{ form_errors(form) }}

                        <div class="field">
                            {{ form_label(form.fullName, 'Nombre y apellido', {'label_attr': {'class': 'label'}}) }}

                            <div class="control">
                                {{ form_errors(form.fullName) }}

                                {{ form_widget(form.fullName, {'attr': {'class': 'input'}}) }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'label'}}) }}

                            <div class="control">
                                {{ form_errors(form.email) }}

                                {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form_label(form.telephoneNumber, 'Numero telefonico', {'label_attr': {'class': 'label'}}) }}

                            <div class="control">
                                {{ form_errors(form.telephoneNumber) }}

                                {{ form_widget(form.telephoneNumber, {'attr': {'class': 'input'}}) }}
                            </div>
                        </div>

                        <div class="field">
                            {{ form_label(form.subject, 'Asunto', {'label_attr': {'class': 'label'}}) }}

                            <div class="control">
                                {{ form_errors(form.subject) }}

                                <div class="select">{{ form_widget(form.subject) }}</div>
                            </div>
                        </div>

                        <div class="field">
                            {{ form_label(form.message, 'Mensaje', {'label_attr': {'class': 'label'}}) }}

                            <div class="control">
                                {{ form_errors(form.message) }}

                                {{ form_widget(form.message, {'attr': {'class': 'textarea'}}) }}
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.send, {'attr': {'class': 'button is-primary'}}) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>

                <div class="column">
                    {{ include('partials/contact.html.twig', { 'location': location, 'contactList': contactList }) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}